@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  background-color: #0c0d0f;
  color: white;
  font-size: 18px;
  max-height: 100vh;
  /* overflow: hidden; */
}

.container {
  width: 92%;
  max-width: 1280px;
  margin: 0 auto;
}

.mainWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}
header,
main,
footer {
  width: 100%;
}
main{
  height: 100%;
}
/* header */
#header {
  background-color: #151616;
}

.headerBox {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  font-weight: 600;
  padding: 15px 0;
}

.headerBox h1 {
  background: -webkit-linear-gradient(
    45deg,
    rgb(0, 179, 255) 30%,
    rgb(255, 115, 0) 70%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* footer */
#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 0;
  font-weight: 400;
}

#footer a {
  color: rgba(255, 255, 255, 0.551);
}

#footer span {
  color: white;
}
#footer span:hover {
  color: rgb(90, 247, 255);
}

/* main */
.game {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
.h3 {
  margin-bottom: 10px;
  margin-top: 20px;
  font-size: 28px;
  font-weight: 600;
  color: rgb(255, 235, 235);
  text-transform: uppercase;
}

.game_box{
  text-align: center;
}

/* timer */
.timer,
.count_box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: 500;
  padding: 12px 80px;
  background-color: rgb(61, 156, 197);
  border-radius: 15px;
}

.timer_box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-direction: column;
}

.timer_sec {
  display: flex;
  gap: 30px;
}

.sec {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85px;
  height: 85px;
  border-radius: 50%;
  color: white;
  background-color: #353638;
  font-size: 32px;
  font-weight: 400;
  cursor: pointer;
  letter-spacing: 4px;
  padding-left: 4px;
  box-shadow: rgba(105, 105, 105, 0.2) 0px 0px 5px 0px;
}

.sec:active {
  background-color: #35363888;
}

.count_box {
  background-color: rgb(255, 145, 55);
  margin-bottom: 20px;
}


.click_box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: 500;
  width: 100%;
  max-width: 800px;
  height: 100%;
  background: linear-gradient(
    45deg,
    rgb(0, 179, 255) 30%,
    rgb(255, 115, 0) 70%
  );
  border-radius: 20px;
  cursor: pointer;
  color: black;
}
.click_box:active {
  background: linear-gradient(
    45deg,
    rgb(0, 179, 255) 30%,
    rgb(255, 115, 0) 70%
  );
  opacity: 0.8;
}

@media only screen and (max-width: 460px) {
  .click_box {
    font-size: 30px;
  }
  .timer_sec {
    gap: 20px;
  }
  .sec {
    font-size: 22px;
    width: 60px;
    height: 60px;
  }
}

.score {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #0c0d0f;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  gap: 20px;
  padding: 30px 20px;
  padding-bottom: 50px;
}

.score_h2 {
  font-size: 60px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  user-select: none;
}

.score_p {
  font-size: 55px;
  font-weight: 400;
  color: rgb(255, 255, 255);
  user-select: none;
}

.score_btn {
  font-size: 40px;
  font-weight: 600;
  border: none;
  outline: none;
  padding: 25px 40px;
  border-radius: 10px;
  color: white;
  background-color: rgb(0, 175, 70);
  user-select: none;
}

.score_btn:active {
  background-color: rgb(0, 166, 67);
}

.score_btn:hover {
  cursor: pointer;
}

.score_btn::selection {
  background-color: transparent;
}

.stars {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 231, 49);
  font-size: 90px;
  gap: 15px;
  user-select: none;
}

.green {
  color: rgb(255, 115, 0);
  font-weight: 600;
}

.chery {
  color: rgb(0, 179, 255);
  font-weight: 600;
}

@media screen and (max-width: 700px) {
  .score_h2 {
    font-size: 45px;
  }
  .score_p {
    font-size: 34px;
  }
  .score_btn {
    font-size: 32px;
    padding: 25px 45px;
    margin-bottom: 70px;
  }
  .stars {
    font-size: 45px;
  }
}

@media screen and (max-width: 500px) {
  .score_h2 {
    font-size: 36px;
  }
  .score_p {
    font-size: 24px;
  }
  .score_btn {
    font-size: 24px;
    width: 100%;
  }
  .stars {
    font-size: 40px;
  }
}
